@media(min-width: 768px) and (max-width: 1000px){
    .first-section{
        height: 100vh;
    }
    .banner{
        height: 55%;
    }
    .banner h1{
        padding-top: 40%;
        font-size: 3.5rem;
    }
    .banner p{
        font-size: 1.5rem;
        padding: 0 50px;
        line-height: 30px;
    }

    .produtos-firstsection{
        display: flex;
        align-items: center;
        padding: 20px 45px;
        width: 75vw;
        height: 500px;
        margin: 0 auto;
        
    }

    .produtos-firstsection p{
        text-align: left;
        font-size: 2em;
        margin: 25px 30px 0 0;
    }
    .colagenos-cha{
        height: 450px; 
        padding: 5px; 
    }

    .subtitulo-beneficios{
        font-size: 2.5rem;
        padding-top: 55px;
    }

    .lista-beneficios{
        font-size: 1.8rem;
        width: 100%;
        margin: 0 auto;
        padding: 30px 20px 0px 20px;
        line-height: 35px;
        
    }

    .lista-beneficios li{
        margin: 0 0 10px 25px;
       
    }

    .preco{
        height: 100vh;
       
    }

    .subtitulo-preco{
        font-size: 3.5rem;
        margin: 15px;
    }
    .produtos-img{
        height: 200px;
    }
    .text1, .text3{
        font-size: 1.6rem;
    }
    .text2, .sjuros{
        font-size: 3rem;
    }

    .botao{
        width: 500px;
        height: 70px;
        font-size: 2em;
    }
  .entregas{
    font-size: 1.2rem;
  }
  .entregas-img{
    height: 70px;
  }

  .rodape h3{
    font-size: 2.3rem;
    margin-top: 25px;
  }
  
  .rodape p{
    font-size: 1.6rem;
  }
  .slongan-rodape{
    font-size: 2.3rem;
  }

  .contato{
    margin-top: 35px;
  }

  .contato-img{
    height: 80px;
  }
}

@media(min-width: 1000px){
    .banner{
        background: none;
        background-color: var(--cor-principal);
        box-shadow: 0 1px 3px 0px rgba(39, 38, 38, 0.795);
        width: 100vw;
        height: 40%;
        text-align: center;
        margin: 0 auto;
    }

    .banner h1{
        padding-top: 90px;
    }

    .banner p {
       width: 50%;
       margin-left: 25%;
       padding: 20px;
    }
    .produtos-firstsection{
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .colagenos-cha{
        height: 350px;
    }
    .produtos-firstsection p{
        width: 60%;
    }
    .lista-beneficios li{
        margin: 0 auto;
        width: 40%; 
    }
    .preco {
        background-color: #EFEDED;
        width: 30vw;
        margin: 0 auto;
        box-shadow: 0 0px 10px 0px rgba(39, 38, 38, 0.795);
    }


  
       
    }

 



