.apresentacao__produtos{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    background-color: #D3CCD0;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

@media(min-width: 320px) and (max-width: 768px){
    .apresentacao__produtos{
        flex-direction: column;
        height: 80vh;
        row-gap: 70%;
        
    }
    
}